<%-layout("/layouts/boilerplate.ejs")%>
<%-include("../includes/sidebar.ejs")%>
<style>
    .listings-container {
    display: flex;
    overflow-x: auto;  
    gap: 20px;
    padding: 10px;

    scroll-behavior: smooth;
}
</style>
<div class="main">
    <%if(allLists && allLists.length > 0){%>
    <h2>Your Listings:</h2>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 listings-container"><!--class row makes this div a horizontal container for everything inside it and when we mention row-cols-3 it means that in one row there will be three columns-->
    <% for(let list of allLists){%>
        <a href="/listings/<%=list._id%>" class="list-link">
            <div class="card mt-3 mb-3 bg-transparent ">
                <img src="<%=list.image.url%>" class="card-img-top ms-0" alt="img">
                <div class="card-img-overlay" style="width:320px;height:240px;"></div><!-- The card-img-overlay is an empty <div>. It is intended to act as a visual layer above the image. The CSS rule changes the overlay's opacity to 0.2, making it semi-transparent.The background-color: white; adds a white overlay over the image.If no background-color is set, the overlay's content will only dim due to the opacity. The card-img-overlay class in Bootstrap is styled to cover the entire card area, aligning it with the dimensions of its parent card. -->
                <div class="card-body">
                    <p class="card-text"><b><%=list.title%></b><br><b>Max Attendees:</b> <%=list.capacity%> people <br>
                    <span><b>Price:</b> &#8377;<%=list.price.toLocaleString("en-IN")%> / day</span>&nbsp;&nbsp;&nbsp;<i class="tax-info"><b>+15% GST</b></i></p>
                    <button onclick="event.preventDefault();event.stopPropagation();window.location.href='/dashboard/<%=list._id%>/bookings'" class="btn btn-danger">Check Bookings</button>
                </div> 
            </div>
        </a>
    <%}%>
    </div>
    <%}else{%>
        <h2 style="margin-left:50px;margin-top:30px;">You don't have any listings.</h2>
    <%}%>
</div>